<?xml version="1.0"?>
<ruleset name="WooCommerce Integration Hub">
    <description>PSR-12 coding standards for the namespaced PHP codebase.</description>
    <file>src</file>
    <file>tests</file>
    <arg name="extensions" value="php"/>
    <rule ref="PSR12"/>
    <exclude-pattern>vendor/*</exclude-pattern>
</ruleset>
